<mat-card class="user-sidebar color-card mt10">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                        <mat-action-list>

                            <!-- <div mat-subheader><h4>Menues</h4></div>  -->
                    
                            <button class="all" mat-list-item routerLink="/user-dashboard/user-home">
                                <mat-icon mat-list-icon>home</mat-icon>Home
                            </button>
                    
                            <button class="all" mat-list-item routerLink="/user-dashboard/user-profile">
                                <mat-icon mat-list-icon>account_circle</mat-icon>Profile
                            </button>
                    
                            <button class="all" class="mb10" mat-list-item routerLink="/user-dashboard/0">
                                <mat-icon mat-list-icon>quiz</mat-icon>Quizzes
                            </button>
                    
                            <mat-divider></mat-divider>
                            <!-- <br> -->
                    
                            <div mat-subheader><h5>Search quizzes</h5></div>
                    
                    
                            <mat-form-field mat-list-item style="width: 100%;">
                                <mat-label style="padding-left: 10px;">Choose category</mat-label>
                                <mat-select name="category">
                                    <mat-option [routerLink]="'/user-dashboard/' + c.cid"  *ngFor="let c of categories" [value]="c.cid" >
                                        {{c.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    
                            <mat-divider></mat-divider>
                            
                    
                            <button class="all" class="mt10" mat-list-item routerLink="/user-dashboard/settings">
                                <mat-icon mat-list-icon>settings</mat-icon>Settings
                            </button>
                    
                            <button class="all" mat-list-item (click)="logout()" *ngIf="isLoggedIn">
                                <mat-icon mat-list-icon>logout</mat-icon>Logout 
                            </button>
                    
                        </mat-action-list>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<!-- {{ categories | json }} -->
