<mat-card class="color-card mt10 mb10 mr10 ml10" *ngIf="!isSubmit">
    <div class="bootstrap-wrapper" *ngIf="!isSubmit">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <h2 class="mt10 ml10">IMP Instructions</h2>
                    <!-- instructions -->
                    <mat-card style="margin-top: 15px;" class="instructions-card">
                    
                            <span>
                                <p style="font-size: smaller; text-align: justify;">1. Do not refresh the page otherwise you will get new questions in this quiz.</p>
                            </span>
                            <span>
                                <p style="font-size: smaller; text-align: justify;">2. Do not switch the tabs.</p>
                            </span>
                            <span>
                                <p style="font-size: smaller; text-align: justify;">3. Do not minimize the window.</p>
                            </span>
                    
                    </mat-card>
                </div>
        
                <div class="col-md-8">
                    <!-- Questions -->
                    <ng-container *ngIf="questions"> 
        
                        <h1 class="mt10 text-center">On going quiz: <span><b>{{questions[0].quiz.title}}</b></span></h1>
        
                    </ng-container>
    
                    <mat-card *ngFor="let q of questions; let i = index;" class="mt10 mb20">
                        <mat-card-content  class="question-card">
                            <p class="mb10">
                                <b>Q.{{i+1}}</b> 
                                <b><span class="ml10" [innerHTML]="q.content"></span></b>
                            </p>
                            <span class="blinking" *ngIf="blinkFlag">You have put this question to reviewed later.</span>
                            <mat-divider></mat-divider>
                            
                            <div class="row mt20">
                                <!-- option1 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <span>A. </span>
                                            <input 
                                            [(ngModel)] = "q.givenAnswer"
                                            type="radio" 
                                            [value]="q.option1"
                                            [name]="'grp'+i"
                                        />
                                        </div>
                                        <div class="col-md-10">
                                            <span class="ml10" style="text-align: justify;">{{q.option1}}</span>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- option2 -->
                                <div class="col-md-6">
                                    <div class="row">  
                                        <div class="col-md-2">
                                            <span>B. </span>
                                            <input 
                                            type="radio" 
                                            [value]="q.option2"
                                            [name]="'grp'+i"
                                            [(ngModel)] = "q.givenAnswer"
                                        />
                                        </div>
                                        <div class="col-md-10">
                                            <span class="ml10">{{q.option2}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row mt10">
                                <!-- option3 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <span>C. </span>
                                            <input
                                            type="radio" 
                                            [value]="q.option3"
                                            [name]="'grp'+i"
                                            [(ngModel)] = "q.givenAnswer"
                                        />
                                        </div>
                                        <div class="col-md-10">
                                            <span class="ml10">{{q.option3}}</span>
                                        </div>
                                    </div>      
                                </div>
    
                                <!-- option4 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <span>D. </span>
                                            <input
                                                type="radio"
                                                [value]="q.option4"
                                                [name]="'grp'+i"
                                                [(ngModel)] = "q.givenAnswer"
                                            />
                                        </div>
                                        <div class="col-md-10">
                                            <span class="ml10">{{q.option4}}</span>
                                        </div>
                                    </div>        
                                </div>
                            </div>
                            <!-- <div class="attempt" align="right">
                                <mat-checkbox 
                                    id="highlight" 
                                    [(ngModel)]="blinkFlag"
                                    [name]="'i'"
                                    [value]="'blinkFlag'">
                                    Attempt Later
                                </mat-checkbox>
                            </div> -->
                        </mat-card-content> 
                    </mat-card>
    
                    <div class="container text-center mt20 mb20">
                        <button (click)="submitQuiz()" mat-raised-button color="accent">Submit Quiz</button>
                    </div>
                </div>
        
                <div class="col-md-2">
                    <h2 class="mt10 ml10">Keep your eye here.</h2>
                    <!-- Progressbar -->
                    <mat-card style="margin-top: 15px;" class="timer-card">
                        <mat-card-header>
                            <mat-card-title class="text-center mb20" style="font-size: medium;">Exam Timer</mat-card-title>
                            <mat-card-subtitle style="font-size: smaller; text-align: justify;">Exam will finish automatically after reaching to 00:00:00</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-spinner 
                                [value]="(timer / (this.questions.length * 2 * 60)) * 100"
                                mode="determinate" 
                                color="accent" 
                                style="margin: auto;">
                            </mat-spinner>
                        </mat-card-content>
                        <!-- <h3 class="text-center mt10"></h3> -->
                        <h3 class="text-center">Time Remaining<br><b>{{getFormattedTime()}}</b></h3>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="container text-center">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Quiz Result</mat-card-title>
                    </mat-card-header>
    
                    <mat-card-content class="text-center">
                        <h2>Marks Obtained: {{marksGot}} </h2>
                        <h2>Correct Answers: {{correctAnswers}} </h2>
                        <h2>Questions Attempted: {{attempted}} </h2>
                    </mat-card-content>
    
                    <mat-card-actions class="text-center">
                        <button mat-raised-button color="primary" (click)="printResult()">Print Result</button>
                        <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'">Home</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>