/* .question-card{
    background-color: aqua;
} */

.instructions-card{
    position: sticky;
    top: 0;
}

.timer-card{
    position: sticky;
    top: 0;
}

.blinking{
    animation:blinkingText 0.3s;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}