<ngx-ui-loader 
    fgsColor="#ff4081" 
    text="Please wait..." 
    pbColor="#ff4081"
    textColor="#ffffff"
    fgsType="square-jelly-box">
</ngx-ui-loader>

<div ngxUiLoaderBlurred>
    <app-navbar></app-navbar>
    <!-- dynamic content fetching -->
    <router-outlet></router-outlet>
</div>
 
<!-- loaders

    1. three-strings
    2. square-jelly-box
    3. ball-spin-clockwise
    4. ball-spin
    5. double-bounce
-->

<!-- loader configuration

    "bgsColor": "red",
    "bgsOpacity": 0.5,
    "bgsPosition": "bottom-right",
    "bgsSize": 60,
    "bgsType": "ball-spin-clockwise",
    "blur": 5,
    "delay": 0,
    "fastFadeOut": true,
    "fgsColor": "red",
    "fgsPosition": "center-center",
    "fgsSize": 60,
    "fgsType": "ball-spin-clockwise",
    "gap": 24,
    "logoPosition": "center-center",
    "logoSize": 120,
    "logoUrl": "",
    "masterLoaderId": "master",
    "overlayBorderRadius": "0",
    "overlayColor": "rgba(40, 40, 40, 0.8)",
    "pbColor": "red",
    "pbDirection": "ltr",
    "pbThickness": 3,
    "hasProgressBar": true,
    "text": "",
    "textColor": "#FFFFFF",
    "textPosition": "center-center",
    "maxTime": -1,
    "minTime": 300
-->