.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.example-header-image {
    background-image: url('https://image.flaticon.com/icons/png/512/327/327010.png');
    background-size: cover;
}

.card{
    cursor:pointer;
    
}

.card:hover{
    transform: translateY(4px);
    /* background-color: white; */
    background-color: #69F0AE;
}
.cardtop{
    background-color: #69F0AE;
}
text:hover{
    color:white;
}