<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <!-- <mat-card class="mt10 cardtop" *ngIf="quizzes.length != 0">
            <div class="container text-center">
                <span class="mt20 text" style="font-size: 35px;">Available Quizzes</span>
            </div>
        </mat-card> --> 
        <div class="row mt10" *ngIf="quizzes">
            <div class="col-md-4" *ngFor="let q of quizzes"> 

                <mat-card class="mb20 card"> 
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">
                            {{q.description}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="container text-center">
                            <div class="row">
                                <button mat-stroked-button color="primary">Details</button>
                        <button 
                            mat-flat-button 
                            color="accent" 
                            class="ml10" 
                            [routerLink]="'/user-dashboard/instructions/' + q.qId">
                            Start Quiz
                        </button>
                        <!-- <button mat-button color="primary">Ques: {{q.noOfQuestions}}</button> -->
                        <button mat-button color="accent">Marks:{{q.maxMarks}}</button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-12" *ngIf="quizzes.length == 0" style="margin-top: 200px;">
                <mat-card>
                    <mat-card-content>
                        <div class="container text-center">
                            <span style="font-size: 30px;">Quizzes are not available currently in this Category.</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>