.example-ripple-container {
    cursor: pointer;
    text-align: center;
    background-color: #69F0AE;
  
    /* width: 492px;
    height: 195px; */
    /* line-height: 300px; */  

    height: 75px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}
.example-ripple-container:hover{
    background-color: white;
}

.img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.vl{
    border-left: 2px solid green;
    height: 155px;
    position: absolute;
    left: 30%;
    margin-left: 4px;
    top: 10px;
}

/* .column{
    margin-top: 65px;
    margin-left: 80px;
} */

.text{
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
}
.profile-image{
    max-width: 220px;
    max-height: 150px;

    /* border: 0.5px solid black; */
    border-radius: 50%;
}

.cards{
    height: 189px;
    background-color: #69F0AE;
}
.maincard{
    background-color: #69F0AE;
}

.imglink{
    margin: 0%;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
}
.imglink:hover{
    color: blue;
    font-weight: 500;
}