<mat-card class="mt10 mb20">
    <mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
        <mat-tab label="History">
            <mat-card class="mt10 mb10 card" *ngFor="let r of records"> 
                <div class="bootstrap-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title>
                                        <span>{{ r.quiz.title }}</span>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                            <span>{{ r.date }}</span> 
                                    </mat-card-subtitle> 
                                </mat-card-header>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button 
                                    mat-button 
                                    color="accent">
                                    Download Result
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button mat-button>Download Result</button>  -->
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <div class="bootstrap-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    
                                    <ul>
                                        <li><span><b>Total Question</b> : <span style="font-size:17px"> {{ r.quiz.noOfQuestions }} </span></span></li>
                                        <li><span><b>Total Attempted Questions</b> : <span style="font-size:17px"> {{ r.attemptedQuestions }} </span></span></li>
                                    </ul>

                                </div>
                                <div class="col-md-4">
                                    
                                    <ul>
                                        <li><span><b>Total Marks</b> : <span style="font-size:17px"> {{ r.quiz.maxMarks }} </span></span></li>
                                        <li><span><b>Correct Attempted Questions</b> : <span style="font-size:17px"> {{ r.correctAttempted }} </span></span></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><span><b>Quiz Category</b> : <span style="font-size:17px"> {{ r.quiz.category.title }} </span></span></li>
                                        <li><span><b>Marks Obtained</b> : <span style="font-size:17px"> {{ r.obtainedMarks }} </span></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="col-md-12" *ngIf="records.length == 0" style="margin-top: 100px;">
                <mat-card>
                    <mat-card-content>
                        <div class="container text-center">
                            <span style="font-size: 30px;">You haven't attempted any quiz yet, please attempt it first.</span>
                        </div>
                        <div class="container text-center mt20">
                            <button 
                                [routerLink]="'/user-dashboard/0'"
                                mat-flat-button 
                                color="accent">
                                Goto Quizzes
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Stats">
            <div id="bar" style="margin-top: 50px; margin-left: 200px;;">
                <ngx-charts-bar-vertical
                    [results]="arr"
                    
                    
                    
                    [gradient]="gradient"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    
                    
                    [animations]="animations"
                    [showGridLines]="showGridLines"
                    [showDataLabel]="showDataLabel"
                    [barPadding]="barPadding"
                    [tooltipDisabled]="tooltipDisabled"
                    [roundEdges]="roundEdges">

                </ngx-charts-bar-vertical>
            </div>
        </mat-tab>
        <mat-tab label="Feedback">

            <div class="bootstrap-wrapper mt20">
                <div class="container">
                    <!-- {{ feed | json }} -->
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <form style="font-size: 12px;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Feedback Title</mat-label>
                                    <input 
                                        matInput 
                                        name="ftitle"
                                        [(ngModel)]="feed.ftitle"
                                        placeholder="Ex. About my query">
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Feedback Category</mat-label>
                                    <mat-select name="fcategory" [(ngModel)]="feed.fcategory">
                                        <mat-option value="Improvement Feedback">
                                            Improvement Feedback
                                        </mat-option>
                                        <mat-option value="Login Issue">
                                            Login Issue
                                        </mat-option>
                                        <mat-option value="Quiz Issue">
                                            Quiz Issue
                                        </mat-option>
                                        <mat-option value="Registration Issue">
                                            Registration Issue
                                        </mat-option>
                                        <mat-option value="Other Issue">
                                            Other Issue
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Feedback Description</mat-label>
                                    <textarea
                                        type="text"
                                        name="fdesc"
                                        [(ngModel)]="feed.fdesc"
                                        matInput
                                        rows="5"
                                        placeholder="Ex. "
                                        #postalCode 
                                        maxlength="250">
                                    </textarea>
                                    <mat-hint>Your feedback description should be of maximun 250 characters.</mat-hint>
                                    <mat-hint align="end">{{postalCode.value.length}} / 250</mat-hint>
                                </mat-form-field>

                         
                               <div class="bootstrap-wrapper">
                                   <div class="container">
                                       <div class="row">
                                           <div class="col-md-4 offset-md-4">
                                                <button class="mt10" style="width: 100%;" mat-flat-button color="accent" (click)="subform()">SUBMIT FEED</button>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </mat-tab>
    </mat-tab-group>    
</mat-card>

<!-- 
    [legendPosition]="legendPosition"
    [schemeType]="schemeType"
    [scheme]="colorScheme"
    [view]="view"
    [legendTitle]="legendTitle"
    [legend]="legend"

 -->